// font-family: 'Lato', sans-serif; 400 700
// font-family: 'Montserrat', sans-serif; 700
// font-family: 'Roboto', sans-serif; 400

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 746px;
  height: calc(100vh - 100px);
  background-color: #fff;
  display: flex;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);

  &__sidebar {
    width: 200px;
    box-sizing: border-box;
    background-color: #f4f6f8;
    height: 100%;
    padding: 40px 20px;

    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15px;
    position: relative;
  }

  &__tasks {
    flex: 1;
    height: 100%;
    padding: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

.field {
  background: #fff;
  color: #c7c7c7;
  font-size: 14px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
}

.button {
  background-color: #4dd599;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background: darken(#4dd599, 5%);
  }

  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &:disabled {
    background-color: #dbdbdb;
  }

  &_grey {
    background-color: #f4f6f8;
    color: #9c9c9c;

    &:hover {
      background-color: darken(#f4f6f8, 5%);
    }

    &:active {
      background-color: darken(#f4f6f8, 10%);
    }
  }
}
