.new-task {
  &__text {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    margin-bottom: 20px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__title {
    font-size: 16px;
    margin-left: 18px;
    letter-spacing: 0.15px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 1px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__button-green {
    margin-right: 10px;
  }
}
